Applications/OICAR-App-1.0/node_modules/**/*
Applications/OICAR-App-1.0/.expo/*
Applications/OICAR-App-1.0/npm-debug.*
Applications/OICAR-App-1.0/*.jks
Applications/OICAR-App-1.0/*.p8
Applications/OICAR-App-1.0/*.p12
Applications/OICAR-App-1.0/*.key
Applications/OICAR-App-1.0/*.mobileprovision
Applications/OICAR-App-1.0/*.orig.*
Applications/OICAR-App-1.0/web-build/
Applications/OICAR-App-1.0/web-report/