.vs/*

Applications/OICAR-App/.vscode/*
Applications/OICAR-App/node_modules/**/*
Applications/OICAR-App/.expo/*
Applications/OICAR-App/npm-debug.*
Applications/OICAR-App/*.jks
Applications/OICAR-App/*.p8
Applications/OICAR-App/*.p12
Applications/OICAR-App/*.key
Applications/OICAR-App/*.mobileprovision
Applications/OICAR-App/*.orig.*
Applications/OICAR-App/web-build/
Applications/OICAR-App/web-report/
Applications/OICAR-App/env.*

Applications/WebService/.vs/*
Applications/WebService/WebService/bin/*
Applications/WebService/WebService/obj/*
Applications/WebService/WebService/Web.config